.intro-name {
    position: absolute;
    margin-top: -150px;
    margin-left: -181px;
}

.box {
    height:auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#message {
    margin:5px;
    color: white;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    background: /* top, transparent red, faked with gradient */ linear-gradient( rgba(25, 0, 0, 0.3), rgba(25, 0, 0, 0.3) ), 
    url("https://unsplash.it/1600/1000?image=266");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}
.fa-chevron-circle-down {
    color: antiquewhite;
    text-decoration: none;
}