    <!-- About Section -->
    <section id="about" class="container">
     <div class="row">
       <div class="col-xs-12">
        <div class="card-about" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('');">
          <h1>About</h1>
          <div class="card-about-description">
            <% data.about.each do |about| %>
            <%= about["title"] %>  
            <%= about["description"] %>
            <%= about["paragraph"] %>
          </div>
        </div>
      </div>
      <% end  %>
    </section>