    <!-- About Section -->
    <section id="about">
      <div class="w-section section">
        <div class="about-details">
          <div class="w-container container">
            <div class="w-row">
              <div class="w-col w-col-6 w-col-stack">
                <h1>About</h1>
                  <% data.about.each do |about| %>
                  <%= about["title"] %>  
                  <%= about["description"] %>
                  <%= about["paragraph"] %>
                </div>
              </div>
              <% end  %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
