            <section id="robots" class="containe">
             <div class="row">
              <div class="col-xs-12">
                <div class="card-robots" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('');">
                  <div class="card-category"></div>
                  <% data.about.each do |about| %>
                  <%= about["title-left"] %>
                  <%= about["description-left"] %>
                  <%= about["paragraph-left"] %>
                </div>
              </div>
            </div>
            <% end  %>
          </div>
        </section>