              <!-- Robots Section -->
               <section id="robots">
                <div class="w-section section">
                  <div class="about-details">
                    <div class="w-container container">
                      <div class="w-row">
                        <div class="w-col w-col-6 w-col-stack">
                          <div class="card-about-description">
                            <% data.about.each do |about| %>
                            <%= about["title-robot"] %>  
                            <%= about["description-robot"] %>
                            <%= about["paragraph-robot"] %>
                          </div>
                        </div>
                        <% end  %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>