    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <% data.contact.each do |contact| %>
                <div class = "contact-name"><%= contact["name"] %></div>  
                <div class = "contact-mail"><%= contact["mail"] %></div>
                <% end %>
            </div>
        </div>
    </section>