    <!-- Footer -->
    <footer>
      <div class="w-section section">
        <div class="about-details">
          <div class="w-container container">
            <div class="w-row">
              <div class="w-col w-col-6 w-col-stack">
                <div class="container">
                  <p>Design by: &copy; W.Kompier<a href="#page-top">
                    <span class="light"><i class="fa fa-angle-double-up animated"></i>
                    </span>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>