    <!-- Footer -->
    <footer>
      <div class="w-section section">
        <div class="footer-details">
          <div class="w-container container">
            <div class="w-row">
              <div class="w-col w-col-6 w-col-stack">
                <a target="_blank" href="http://github.com/waata">Design by: &copy; W.Kompier</a>
                <a href="#page-top">
                  <span class="light"><i class="fa fa-angle-double-up animated"></i>
                  </span>
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>