    <!-- Footer -->
<footer>
  <div class="container text-center">
    <p>Design by: &copy; W.Kompier<a href="#page-top">
      <span class="light"><i class="fa fa-angle-double-up animated"></i>
  </div>
</footer>