    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="box">
                            <div id="title"><span id="name"></span></div>
                            <div id="message"></div>
                        </div>
                        <div id="hidden-button" style="visibility: hidden"><a href="#about" class="btn btn-circle page-scroll"><i class="fa fa-angle-double-down animated"></i></a></div>
                        <script type="text/javascript">
                            function showIt() {
                              document.getElementById("hidden-button").style.visibility = "visible";
                          }
                        setTimeout("showIt()", 5000); // after 1 sec
                    </script>
                </div>
            </div>
        </div>
    </div>
</header>
