    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <p>
                </p>
                
                <div class="collapse" id="collapseContact">
                  <div class="card card-block">
                    <% data.contact.each do |contact| %>
                    <%= contact["name"] %>
                    <%= contact["mail"] %>
                    <%= contact["phone"] %>
                    <% end %>
                </div>
            </div>
            <div class="row">
                <div class="">
                    <div class="box">
                        <div id="message"></div>
                    </div>
                    <br>
                    <div id="hidden-button" style="visibility: hidden"><a href="#about" class="fa fa-chevron-circle-down"></a></div>
                    <script type="text/javascript">
                        function showIt() {
                          document.getElementById("hidden-button").style.visibility = "visible";}
                        setTimeout("showIt()", 5000); // after 1 sec
                    </script>
                </div>
            </div>
        </div>
    </div>
</header>