    <!-- Intro Header -->
    <div class="collapse" id="collapseContact">
    <div class="card-block">
        <% data.contact.each do |contact| %>
        <%= contact["name"] %>
        <%= contact["mail"] %>
        <%= contact["phone"] %>
        <% end %>
    </div>
</div>
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="">
                    <div class="box">
                        <div id="message"></div>
                    </div>
                    <br>
                    <div id="hidden-button" style="visibility: hidden"><a href="#about" class="fa fa-chevron-circle-down"></a></div>
                </div>
            </div>
        </div>
    </div>
</header>