    <!-- Portfolio Section -->

        <div class="portfolio-section-2">
            <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                    <% data.portfolio.each do |portfolio| %>
                    <div class = "portfolio-description"><%= portfolio["description-2"] %></div>
                </p>
                <ul class="list-inline banner-social-buttons">
                   <li>
                    <div class = "portfolio-site-2"><%= portfolio["site-2"] %></div>
                </li>
            </ul>
            <% end %>
        </div>
    </div>
</div>